@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: #5b43d6;
}

#header-logo-icon {
    color: #FFF;
    background-image: url("data:image/svg+xml;base64,CjxzdmcgYXJpYS1oaWRkZW49J3RydWUnIGZvY3VzYWJsZT0nZmFsc2UnIGRhdGEtcHJlZml4PSdmYXMnIGRhdGEtaWNvbj0ncG9sbC1oJyBjbGFzcz0nc3ZnLWlubGluZS0tZmEgZmEtcG9sbC1oIGZhLXctMTQnIHJvbGU9J2ltZycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJyB2aWV3Qm94PScwIDAgNDQ4IDUxMic+PHBhdGggZmlsbD0nI2ZmZicgZD0nTTQ0OCA0MzJWODBjMC0yNi41LTIxLjUtNDgtNDgtNDhINDhDMjEuNSAzMiAwIDUzLjUgMCA4MHYzNTJjMCAyNi41IDIxLjUgNDggNDggNDhoMzUyYzI2LjUgMCA0OC0yMS41IDQ4LTQ4ek0xMTIgMTkyYy04Ljg0IDAtMTYtNy4xNi0xNi0xNnYtMzJjMC04Ljg0IDcuMTYtMTYgMTYtMTZoMTI4YzguODQgMCAxNiA3LjE2IDE2IDE2djMyYzAgOC44NC03LjE2IDE2LTE2IDE2SDExMnptMCA5NmMtOC44NCAwLTE2LTcuMTYtMTYtMTZ2LTMyYzAtOC44NCA3LjE2LTE2IDE2LTE2aDIyNGM4Ljg0IDAgMTYgNy4xNiAxNiAxNnYzMmMwIDguODQtNy4xNiAxNi0xNiAxNkgxMTJ6bTAgOTZjLTguODQgMC0xNi03LjE2LTE2LTE2di0zMmMwLTguODQgNy4xNi0xNiAxNi0xNmg2NGM4Ljg0IDAgMTYgNy4xNiAxNiAxNnYzMmMwIDguODQtNy4xNiAxNi0xNiAxNmgtNjR6Jz48L3BhdGg+PC9zdmc+");
    width: 17px;
    height: 20px;
    display: inline-block;
    margin-right: 2px;
    max-width: 17px;
    max-height: 20px;
    position: relative;
    top: 5px;
    border-right: none;
    border: none;
}

main,
section,
article,
footer,
nav {
    display: block;
    padding-bottom: 80;
}

.btn {
    border-radius: 30px;
    border: 1px solid;
    vertical-align: middle;
    text-align: center;
    padding: 12px 30px;
    color: rgba(0, 0, 0, 0.6);
    transition: color ease-in-out 0.15s, background-color ease-in-out 0.15s, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-sm {
    line-height: 1.5;
    font-size: 0.875rem;
}

.btn:hover {
    cursor: pointer;
}

.btn-secondary {
    border-color: var(--primary);
    color: var(--primary);
}

.btn-primary {
    border-color: var(--primary);
    color: #FFF;
    background-color: var(--primary);
}

.btn-primary:hover {
    border-color: #4129bd;
    background-color: #453bc7;
    color: #FFF;
}

.color-primary {
    color: var(--primary)
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 20px;
}

p {
    margin-top: 0;
    margin-bottom: 30px;
    line-height: 1.6;
}

.headerMenu {
    transition: 0.25s padding-top ease-in-out, 0.25s padding-bottom ease-in-out;
}

html {
    scroll-behavior: smooth;
}

.sticky {
    position: fixed !important;
    background-color: rgb(71 85 105);
    border-bottom: #00000080 2px solid;
    padding-top: 1rem;
    padding-bottom: 1rem;
    z-index: 100000;
}

.badge {
    background-color: var(--primary);
    color: #FFF;
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, border-radius 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.badge-sm {
    font-size: 12px;
    vertical-align: middle;
    margin-left: 5px;
}

.bg-primary {
    background: linear-gradient(to bottom, rgb(71 85 105), rgb(30 41 59));
    background-attachment: fixed;
}

.experience-box {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 0 0 60px #0000007a;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 15px;
    overflow: hidden;
}

.experience-box::before {
    right: 0;
    left: -210px;
    top: -120px;
    position: absolute;
    content: ' ';
    background: #80808024;
    z-index: 5;
    height: 180px;
    width: 1000px;
    transform: rotate(-5deg);
}

.experience-box::after {
    content: ' ';
    z-index: 5;
    transform: rotate(108deg);
    background-color: #0000001c;
    opacity: 0.5;
    height: 180px;
    width: 1000px;
    top: -12px;
    right: 0;
    left: -540px;
    position: absolute;
}

.btn-gray {
    color: #797979;
    border: 1px solid #adadad;
}

.feature-list {
    padding: 0;
    margin-top: 28px;
    margin-bottom: 10px;
}

.feature-list > li {
    display: block;
    padding: 5px 20px;
    font-size: 14px;
    text-align: center;
}

.footer-navbar > li {
    padding: 1rem 0.5rem;
}

.footer-navbar a:hover {
    color: #3a25a8;
}